<section>
  <h2>登入</h2>
  <%= form_for @conn, Routes.user_path(@conn, :create), [as: :user], fn f -> %>
  <%= label :user, :username, "用戶名稱" %>
  <%= text_input f, :username, placeholder: "E-mail 位址"  %>
  <%= label :user, :hello, "登入密碼" %>
  <%= text_input f, :hello, type: "password" %>
  <%= submit "登入" %>
  <% end %>
</section>
